extends ../partials/layout
include ../pages/homeBody
include ../pages/icoBody
include ../pages/roadmapBody
include ../pages/whitepaperBody
include ../pages/teamBody
include ../partials/header

block header
  +header('home')
  
block body
  +homeBody()
  +whitepaperBody()
  +icoBody()
  +roadmapBody()
  +teamBody()