mixin homeBody(lang)
  section
    h1 Introduction
    p Developed by MIT & MIPT graduates, Betrium is the first decentralized worldwide betting exchange and sportsbook that has lowest commissions, accepts cryptocurrencies and offers platform for event organizers, developers and third-party service providers.
    p As of 2017, the global regulated gambling market is about $533b. The betting market accounted for $70b in global gross yield. The unregulated sector is many times larger. Over 100 million people regularly bet on sports and spend money every month. 
    h2 Vs existing solutions
    div
      div
        h3 Existing Problems
        ul
          li No Worldwide
          li No Cryptos Support
          li
      div Our Solution
        h3
        ul
          li Fully Worldwide
    h2 Advantages
    div
      div
        h3 ORGANIZERS EARN PLATFORM
        p Betrium provides unique betting creation platform for event organizers such as e-sport streamers or small sport leagues.
      div
        h3 WORLDWIDE SUPPORT
        p Betrium works globally and supports crypto-currencies withdrawals all around the world. 24/7 support on 18 languages.
      div
        h3 LOWEST COMMISSIONS
        p Betrium does not take comission from money deposits and withdrawals, winnings. We also do not take taxes on personal income.
