mixin homeBody(lang)
  section
    h1 Introduction
    p SmartFair - A Decentralised Peer-to-Peer Sports Prediction Exchange built on the Ethereum Blockchain for the World
    h2 Vs existing solutions
    div
      div
        h3 Existing Problems
        ul
          li Players are not treated equally
          li Arbitrary Denial of Service
          li Poor Odds
          li Personal Data Security
          li Non-Scalable Trading
          li More Geographical Restriction
          li Higher Sunk Cost for Smaller Operators
          li Lack of Common Regulatory Framework
          li Lack of Creator to Consumer Distribution Platform
          li LA2D and Digital Rights Management Platform
          li Lack of Data Transparency

      div
        h3 Our Solution
        ul
          li Inclusive Participation
          li Best Possible Odds
          li On-chain identity verification service
          li API for Systematic Trading
          li SmartFair Affiliate Program
          li LA2D and Digital Rights Management Platform
          li Blockchain and Immutable Transaction Data
          
    h2 Advantages
    div
      div
        h3 ORGANIZERS EARN PLATFORM
        p Betrium provides unique betting creation platform for event organizers such as e-sport streamers or small sport leagues.
      div
        h3 WORLDWIDE SUPPORT
        p Betrium works globally and supports crypto-currencies withdrawals all around the world. 24/7 support on 18 languages.
      div
        h3 LOWEST COMMISSIONS
        p Betrium does not take comission from money deposits and withdrawals, winnings. We also do not take taxes on personal income.
