mixin icoBody(lang)
  section#ico
    h1 ICO
    p To achieve Betrium's goals, we are launching an Initial Coin Offering to issue Betriums tokens B T R M on the public blockchain. BTRM is an ERC-20 token build on Ethereum. A total of 140m BTRM will be issued only. The tokens will be issued during the pre-ICO and ICO.
    table.tokenPrices
      tbody
        tr
          td Stage
          td Tokens Sold
          td Price
          td Tokens Per ETH
        tr
          td Pre-ICO
          td 1,000,000 — 13,999,999
          td 0.00017
          td
            | 6000 
            span 500% Bonus
        tr
          td ICO
          td 14,000,000  —  20,000,000
          td 0.00071
          td 1400
        tr
          td ICO
          td 20,000,000  —  50,000,000
          td 0.00083
          td 1200
        tr
          td ICO
          td 50,000,000+
          td 0.00100
          td 999
    h2 Pre-ICO
    p The pre-ICO launches to prepare the initial version of Betrium in its best before the full ICO. We'll spend raised funds on:
    h2 ICO
    p 63 000 000 (45%) Betrium tokens will be distributed during the ICO. The price of BTRM tokens will depend on the number of tokens issued during the pre-ICO.
    h2 Tokens Allocation
    
    