mixin teamBody(lang)
  section#team
    h1 Team
    div
      div PICTURE
      div
        h2 Andy 
        P Maksym is a founder and CEO at Betrium. Also, he is an executive CEO of "Concord Standards and Management" since 2014 and a partner of "Lumiere UA" IT outsourcing firm. Maksym's main competence is development and implementation of international management systems in large corporate structures (ISO, OHSAS, PCI DSS) and business IT automation. Maksym is an enterpreneur and successfully has launched few businesses in b2b sector. iOS software engineer in past.
    div
      div PICTURE
      div
        h2 Andy 
        P Maksym is a founder and CEO at Betrium. Also, he is an executive CEO of "Concord Standards and Management" since 2014 and a partner of "Lumiere UA" IT outsourcing firm. Maksym's main competence is development and implementation of international management systems in large corporate structures (ISO, OHSAS, PCI DSS) and business IT automation. Maksym is an enterpreneur and successfully has launched few businesses in b2b sector. iOS software engineer in past.
    div
      div PICTURE
      div
        h2 Andy 
        P Maksym is a founder and CEO at Betrium. Also, he is an executive CEO of "Concord Standards and Management" since 2014 and a partner of "Lumiere UA" IT outsourcing firm. Maksym's main competence is development and implementation of international management systems in large corporate structures (ISO, OHSAS, PCI DSS) and business IT automation. Maksym is an enterpreneur and successfully has launched few businesses in b2b sector. iOS software engineer in past.
    div
      div PICTURE
      div
        h2 Andy 
        P Maksym is a founder and CEO at Betrium. Also, he is an executive CEO of "Concord Standards and Management" since 2014 and a partner of "Lumiere UA" IT outsourcing firm. Maksym's main competence is development and implementation of international management systems in large corporate structures (ISO, OHSAS, PCI DSS) and business IT automation. Maksym is an enterpreneur and successfully has launched few businesses in b2b sector. iOS software engineer in past.