mixin teamBody(lang)
  section#team
    h1 Team
    div
      div PICTURE
      div
        h2 Andy 
        P is a full-stack developer with over 10 years of experience. He is an expert in web-based systems and has a demonstrated history of working in a wide variety of industries including but not limited to gaming, mining and retail.
    div
      div PICTURE
      div
        h2 Frederic Alex 
        P is a full-stack developer and an infrastructure & cloud computing expert for an investment bank in Hong Kong since 2008. He has extensive experience in setting up platforms for secure transactions, HFT , and market making on JPX and HKEX markets in the APAC region.

    div
      div PICTURE
      div
        h2 Daniel Lin
        P has 5 years (2009-2013) of experience working as a live sports trader in London for Unibet and Kambi. He was a business developer for the first P2P lending platform in Hong Kong in 2015. He is currently the project lead for a cross-border e-Commerce startup.
    div
      div PICTURE
      div
        h2 Rex Kwok 
        P is a seasoned industry veteran with over 10 years of management experience in the sports betting industry in Europe and Asia. He is currently a business development manager for The Hong Kong Jockey Club in Beijing. He has a thorough understanding of regulated and unregulated betting products and market structures.