mixin headerLink(destination, location, lang)
  - var finalLang = lang || 'en'
  - var url = finalLang === 'en' ? locations[destination].url : '/' + finalLang + locations[destination].url
  a(href=url, class=destination === location ? 's-header--active' : undefined)= locations[destination].name[finalLang]

mixin header(location, lang)
  header.s-header
    img(src='/assets/img/logo.png', class='logo')
    nav
      +headerLink('home', location, lang)
      +headerLink('whitepaper', location, lang)
      +headerLink('roadmap', location, lang)
      +headerLink('ico', location, lang)
      +headerLink('team', location, lang)
